#container{
    display: grid;
    grid-template: repeat(1, auto) / repeat(5, auto);
    justify-content: center;
    grid-gap: 20px;
}

img{
    /* border: 1px solid orange; */
    height: 100px;
    width: 100px;
}
img+p{
    font-size: 18px;
    margin: 0%;
    /* border: 1px solid rebeccapurple; */
}
p + p{
    margin: 0%;
    font-size: 55px;
    /* border: 1px solid  green; */
}
div#container div:nth-child(3){
    font-size: 55px;
    border: 0px;
}
div#container div{
    min-width: 150px;
    padding: 10px;
    border: 2px solid grey;
    text-align: center;
}
/* div#container div:nth-child(2){

}
div#container div:nth-child(4){

}
div#container div:last-child{ 

}*/